openapi: 3.1.0
info:
  title: UnguessApi
  version: '1.0'
  description: An API to get all data for your bugfinding and ux research needs!
  contact:
    name: Developers
    email: it@unguess.io
servers:
  - url: 'https://api.unguess.io'
paths:
  /:
    get:
      summary: Get API description
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-root
      description: Get all routes available for this apis
    parameters: []
  /authenticate:
    post:
      description: A request to login with your username and password
      summary: Authenticate to the API
      operationId: post-authenticate
      tags:
        - Authentication
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        $ref: '#/components/requestBodies/Credentials'
  /users/me:
    get:
      summary: Get user data
      tags:
        - User
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-users-me
      security:
        - JWT: []
  /workspaces:
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/PaginatedResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspaces
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      security:
        - JWT: []
  '/workspaces/{wid}':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace
      parameters: []
      security:
        - JWT: []
  '/workspaces/{wid}/campaigns':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/PaginatedResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-campaigns
      security:
        - JWT: []
      description: ''
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/filterBy'
  '/workspaces/{wid}/projects':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/PaginatedResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-projects
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
  '/workspaces/{wid}/projects/{pid}':
    parameters:
      - $ref: '#/components/parameters/wid'
      - $ref: '#/components/parameters/pid'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-project
      security:
        - JWT: []
  '/workspaces/{wid}/projects/{pid}/campaigns':
    parameters:
      - $ref: '#/components/parameters/wid'
      - $ref: '#/components/parameters/pid'
    get:
      summary: Your GET endpoint
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/PaginatedResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-project-campaigns
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      security:
        - JWT: []
  '/projects/{pid}/campaigns':
    parameters:
      - name: pid
        in: path
        required: true
        schema:
          type: number
        description: Project id
    get:
      summary: GET campaigns by Project ID
      tags: []
      responses:
        '200':
          $ref: '#/components/responses/PaginatedResponse'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-project-campaigns
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      security:
        - JWT: []
  '/projects/{pid}':
    parameters:
      - $ref: '#/components/parameters/pid'
    get:
      summary: Get single project by ID
      tags:
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-projects-projectId
      description: Retrieve projects details from an ID.
      security:
        - JWT: []
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      x-examples:
        example-1:
          value:
            id: 0
            email: user@example.com
            role: string
            name: string
            workspaces:
                id: 0
                company: string
                tokens: 0
                logo: string
                csm: {}
            profile_id: 0
            tryber_wp_user_id: 0
            picture: string
            features:
                feature_slug: exploratory-express
                feature_name: Exploratory Express
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
        name:
          type: string
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        profile_id:
          type: integer
        tryber_wp_user_id:
          type: integer
        picture:
          type: string
        features:
          type: array
          items:
            type: object
            properties:
              slug:
                type: string
              name:
                type: string
      required:
        - id
        - email
        - role
        - name
        - workspaces
        - profile_id
        - tryber_wp_user_id
    Authentication:
      title: Authentication
      type: object
      description: ''
      x-examples:
        example-1:
          value:
            username: string
            name: string
            surname: string
            email: user@example.com
            image: 'http://example.com'
            id: 0
            wp_user_id: 0
            role: string
            is_verified: true
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
        name:
          type: string
        picture:
          type: string
        token:
          type: string
        iat:
          type: number
        exp:
          type: number
      required:
        - id
        - email
        - role
        - name
        - token
    Workspace:
      title: Workspace
      type: object
      x-examples:
        - id: 0
          company: string
          tokens: 0
          logo: string
          csm:
            email: user@example.com
            role: string
            name: Teomondo Scrofalo
            workspaces: []
            picture: 'https://pbs.twimg.com/media/Ccp6RXFWIAAQQ2V.jpg'
      properties:
        id:
          type: integer
        company:
          type: string
        tokens:
          type: number
        logo:
          type: string
        csm:
          $ref: '#/components/schemas/User'
      required:
        - id
        - company
        - tokens
        - csm
    Campaign:
      title: Campaign
      type: object
      properties:
        id:
          type: integer
        start_date:
          type: string
        end_date:
          type: string
        close_date:
          type: string
        title:
          type: string
        customer_title:
          type: string
        description:
          type: string
        status_id:
          type: number
        is_public:
          type: number
        campaign_type_id:
          type: integer
        campaign_type_name:
          type: string
        test_type_name:
          type: string
        project_id:
          type: integer
        project_name:
          type: string
      required:
        - id
        - start_date
        - end_date
        - close_date
        - title
        - customer_title
        - description
        - status_id
        - is_public
        - campaign_type_id
        - campaign_type_name
        - test_type_name
        - project_id
        - project_name
    Project:
      title: Project
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        campaigns_count:
          type: integer
      required:
        - id
        - name
        - campaigns_count
    Error:
      title: Error
      type: object
      properties:
        message:
          type: string
        code:
          type: number
        error:
          type: boolean
      required:
        - message
        - code
        - error
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      description: ''
  responses:
    Error:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaginatedResponse:
      description: Paginated response
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Campaign'
                    - $ref: '#/components/schemas/Workspace'
                    - $ref: '#/components/schemas/Project'
              start:
                type: integer
              limit:
                type: integer
              size:
                type: integer
              total:
                type: integer
  parameters:
    wid:
      name: wid
      in: path
      required: true
      schema:
        type: number
      description: 'Workspace (company, customer) id'
    pid:
      name: pid
      in: path
      required: true
      schema:
        type: number
      description: Project id
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: number
      description: Limit pagination parameter
    start:
      name: start
      in: query
      required: false
      schema:
        type: number
      description: Start pagination parameter
    order:
      name: order
      in: query
      required: false
      schema:
        type: string
      description: 'Order value (ASC, DESC)'
    orderBy:
      name: orderBy
      in: query
      required: false
      schema:
        type: string
      description: Order by accepted field
    filterBy:
      name: filterBy
      in: query
      required: false
      schema: {}
      description: 'filterBy[<fieldName>]=<fieldValue>'
  requestBodies:
    Credentials:
      content:
        application/json:
          schema:
            type: object
            properties:
              username:
                type: string
              password:
                type: string
            required:
              - username
              - password
      description: ''
tags:
  - name: Authentication
  - name: Campaign
  - name: Customer
  - name: Projects
  - name: Task
  - name: User
  - name: Admin
  - name: Devices
