openapi: 3.0.3
info:
  title: UnguessApi
  version: '1.0'
  description: An API to get all data for your bugfinding and ux research needs!
  contact:
    name: Developers
    email: it@unguess.io
    url: 'https://unguess.io/'
  termsOfService: 'https://unguess.io/terms-and-conditions/'
servers:
  - url: 'https://api.unguess.io'
paths:
  /:
    get:
      summary: Get API description
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-root
      description: Get all routes available for this apis
    parameters: []
  /authenticate:
    post:
      description: A request to login with your username and password
      summary: Authenticate to the API
      operationId: post-authenticate
      tags:
        - Authentication
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authentication'
        '500':
          $ref: '#/components/responses/Error'
      requestBody:
        $ref: '#/components/requestBodies/Credentials'
  '/analytics/views/campaigns/{cid}':
    post:
      description: ''
      summary: View a campaign
      operationId: post-analytics-views-campaigns-cid
      tags:
        - Authentication
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '500':
          $ref: '#/components/responses/Error'
      security:
        - JWT: []
    parameters:
      - $ref: '#/components/parameters/cid'
  /campaigns:
    post:
      summary: Create campaign
      operationId: post-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      parameters: []
      security:
        - JWT: []
      requestBody:
        $ref: '#/components/requestBodies/Campaign'
      tags:
        - Campaigns
    parameters: []
  '/campaigns/{cid}':
    parameters:
      - $ref: '#/components/parameters/cid'
    patch:
      summary: Patch campaign
      operationId: patch-campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
      description: ''
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_title:
                  type: string
        description: ''
    get:
      summary: Get campaign by ID
      operationId: get-campaign
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignWithOutput'
      security:
        - JWT: []
  '/campaigns/{cid}/bugs':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaigns Bugs
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Bug'
                        - type: object
                          properties:
                            tags:
                              type: array
                              items:
                                type: object
                                properties:
                                  tag_id:
                                    type: number
                                  tag_name:
                                    type: string
                                required:
                                  - tag_id
                                  - tag_name
                            siblings:
                              type: number
                          required:
                            - siblings
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
              examples:
                Example 1:
                  value:
                    items:
                      - id: 0
                        internal_id: string
                        campaign_id: 0
                        title:
                          full: string
                          compact: string
                          context:
                            - string
                        step_by_step: string
                        expected_result: string
                        current_result: string
                        status:
                          id: 0
                          name: string
                        severity:
                          id: 0
                          name: string
                        type:
                          id: 0
                          name: string
                        replicability:
                          id: 0
                          name: string
                        priority:
                          id: 12
                          name: Highest
                        custom_status:
                          id: 1
                          name: to do
                          color: ffffff
                          phase_id: 1
                          is_default: 0
                        created: string
                        occurred_date: '2023-02-09T15:15:04+01:00'
                        updated: string
                        note: string
                        device:
                          manufacturer: string
                          model: string
                          os: string
                          os_version: string
                          type: smartphone
                        application_section:
                          id: 0
                          simple_title: string
                          prefix_title: string
                          title: string
                        duplicated_of_id: 0
                        is_favorite: 0
                        read: true
                        tags:
                          - tag_id: 0
                            tag_name: string
                        siblings: 0
                    start: 0
                    limit: 0
                    size: 0
                    total: 0
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-bugs
      description: ''
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/search'
  '/campaigns/{cid}/bugs/{bid}':
    parameters:
      - $ref: '#/components/parameters/cid'
      - $ref: '#/components/parameters/bid'
    get:
      summary: Get Campaigns Single Bug
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Bug'
                  - type: object
                    properties:
                      media:
                        type: array
                        items:
                          $ref: '#/components/schemas/BugMedia'
                      tags:
                        type: array
                        items:
                          $ref: '#/components/schemas/BugTag'
                      additional_fields:
                        type: array
                        items:
                          $ref: '#/components/schemas/BugAdditionalField'
                      reporter:
                        type: object
                        required:
                          - tester_id
                          - name
                        properties:
                          tester_id:
                            type: number
                          name:
                            type: string
                    required:
                      - reporter
              examples: {}
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-single-bug
      security:
        - JWT: []
    patch:
      summary: Patch Campaigns Single Bug
      operationId: patch-campaigns-cid-bugs-bid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    items:
                      type: object
                      properties:
                        tag_id:
                          type: number
                        tag_name:
                          type: string
                      required:
                        - tag_id
                        - tag_name
                  priority:
                    $ref: '#/components/schemas/BugPriority'
                  custom_status:
                    $ref: '#/components/schemas/BugCustomStatus'
              examples:
                oneTagResponse:
                  value:
                    tags:
                      - tag_id: 0
                        tag_name: string
                emptyTagsResponse:
                  value:
                    tags: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    oneOf:
                      - properties:
                          tag_id:
                            type: number
                        required:
                          - tag_id
                      - properties:
                          tag_name:
                            type: string
                        required:
                          - tag_name
                    type: object
                priority_id:
                  type: number
                custom_status_id:
                  type: number
            examples:
              possibleTagEntries:
                value:
                  tags:
                    - tag_id: 1
                    - tag_name: tag2
              emptyTagsEntries:
                value:
                  tags: []
      security:
        - JWT: []
  '/campaigns/{cid}/bugs/{bid}/siblings':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
      - name: bid
        in: path
        required: true
        schema:
          type: string
        description: Defines an identifier for the bug object (BUG ID)
    get:
      summary: Get Bug siblings
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  father:
                    type: object
                    properties:
                      id:
                        type: number
                      title:
                        type: object
                        required:
                          - full
                          - compact
                        properties:
                          full:
                            type: string
                          compact:
                            type: string
                          context:
                            type: array
                            items:
                              type: string
                      context:
                        type: string
                      device:
                        type: string
                      os:
                        type: object
                        required:
                          - name
                          - version
                        properties:
                          name:
                            type: string
                          version:
                            type: string
                    required:
                      - id
                      - title
                      - device
                      - os
                  siblings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        title:
                          type: object
                          required:
                            - full
                            - compact
                          properties:
                            full:
                              type: string
                            compact:
                              type: string
                            context:
                              type: array
                              items:
                                type: string
                        context:
                          type: string
                        device:
                          type: string
                        os:
                          type: object
                          required:
                            - name
                            - version
                          properties:
                            name:
                              type: string
                            version:
                              type: string
                      required:
                        - id
                        - title
                        - device
                        - os
                required:
                  - siblings
              examples: {}
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-bug-siblings
      security:
        - JWT: []
      description: ''
  '/campaigns/{cid}/bugTypes':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaigns BugTypes
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugType'
              examples: {}
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-bug-types
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/custom_statuses':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: Get Campaigns Priorities
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugCustomStatus'
              examples:
                Example 1:
                  value:
                    - id: 1
                      name: to do
                      color: ffffff
                      phase_id: 1
                      is_default: 1
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-custom-statuses
      description: ''
      parameters: []
      security:
        - JWT: []
    post:
      summary: ''
      operationId: post-campaigns-cid-custom_statuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugCustomStatus'
              examples:
                Example 1:
                  value:
                    - id: 10
                      name: to be done
                      color: ffffff
                      phase_id: 1
                      is_default: 0
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  color:
                    type: string
            examples: {}
    delete:
      summary: ''
      operationId: delete-campaigns-cid-custom_statuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugCustomStatus'
              examples:
                Example 1:
                  value:
                    - id: 1
                      name: to do
                      color: ffffff
                      phase_id: 1
                      is_default: 1
                    - id: 2
                      name: pending
                      color: '000000'
                      phase_id: 1
                      is_default: 0
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  custom_status_id:
                    type: integer
                required:
                  - custom_status_id
            examples:
              Example 1:
                value:
                  - custom_status_id: 10
    patch:
      summary: ''
      operationId: patch-campaigns-cid-custom_statuses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugCustomStatus'
              examples:
                Example 1:
                  value:
                    - id: 10
                      name: new name
                      color: '000000'
                      phase_id: 1
                      is_default: 0
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  custom_status_id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                required:
                  - custom_status_id
  '/campaigns/{cid}/custom_statuses/{csid}':
    parameters:
      - schema:
          type: string
        name: cid
        in: path
        required: true
      - schema:
          type: string
        name: csid
        in: path
        required: true
  '/campaigns/{cid}/devices':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: Get Campaigns Bugs Devices
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    device:
                      type: string
                  required:
                    - device
              examples:
                Example 1:
                  value:
                    - device: Apple iPhone 11
                    - device: Desktop
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-devices
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/findings/{fid}':
    parameters:
      - $ref: '#/components/parameters/cid'
      - schema:
          type: string
        name: fid
        in: path
        description: Finding id
        required: true
    put:
      summary: ''
      operationId: put-campaigns-cid-findings-fid
      responses:
        '200':
          description: OK
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
              required:
                - comment
  '/campaigns/{cid}/meta':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaign meta info
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Campaign'
                  - type: object
                    properties:
                      selected_testers:
                        type: number
                      allowed_devices:
                        type: array
                        description: Array of form factors
                        items:
                          type: string
                    required:
                      - selected_testers
                      - allowed_devices
              examples:
                Example 1:
                  value:
                    id: 0
                    start_date: string
                    end_date: string
                    close_date: string
                    title: string
                    customer_title: string
                    is_public: 0
                    bug_form: -1
                    type:
                      id: 0
                      name: string
                    family:
                      id: 0
                      name: string
                    status:
                      id: 0
                      name: string
                    project:
                      id: 0
                      name: string
                    workspace:
                      id: 158
                      name: string
                    description: string
                    base_bug_internal_id: string
                    selected_testers: 16
                    allowed_devices:
                      - smartphone
                      - tablet
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-meta
      security:
        - JWT: []
      parameters: []
      description: Used to extra info about a selected campaign
  '/campaigns/{cid}/os':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: Get Campaigns Bugs Os
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    os:
                      type: string
                  required:
                    - os
              examples:
                Example 1:
                  value:
                    - os: iOS 16
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-os
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/priorities':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: Get Campaigns Priorities
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugPriority'
              examples:
                Example 1:
                  value:
                    - id: 1
                      name: string
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-priorities
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/replicabilities':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: GET Replicabilities by Campaign
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugReplicability'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      operationId: get-campaigns-replicabilities
      description: Return all accepted replicabilities of a specific campaign
      security:
        - JWT: []
  '/campaigns/{cid}/reports':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: GET Reports by Campaign
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
      operationId: get-campaigns-reports
      description: Return all available report of a specific campaign
      security:
        - JWT: []
  '/campaigns/{cid}/severities':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaigns Severities
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BugSeverity'
              examples:
                Example 1:
                  value:
                    - id: 1
                      name: string
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-severities
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/tags':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaigns Tags
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tag_id:
                      type: number
                    display_name:
                      type: string
                    slug:
                      type: string
                    is_public:
                      type: number
                  required:
                    - tag_id
                    - display_name
                    - slug
              examples:
                Example 1:
                  value:
                    - tag_id: 1
                      display_name: tag1
                      slug: string
                    - tag_id: 2
                      display_name: tag2
                      slug: tag2
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-tags
      description: ''
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/usecases':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaign usecases data
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    title:
                      type: object
                      required:
                        - full
                      properties:
                        full:
                          type: string
                        simple:
                          type: string
                        prefix:
                          type: string
                        info:
                          type: string
                    completion:
                      type: number
                  required:
                    - id
                    - title
                    - completion
              examples:
                not-a-specific-usecase-only:
                  value:
                    - title:
                        full: UC1 asd
                      description: string
                      bugs: 10
                      uniqueBugs: 8
                      id: 1220
                      completion: 62.5
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-usecases
      security:
        - JWT: []
      parameters: []
  '/campaigns/{cid}/users':
    get:
      summary: Retrieve users of a specific workspace
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
                required:
                  - items
              examples:
                Example 1:
                  value:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                    start: 0
                    limit: 0
                    size: 1
                    total: 1
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaign-users
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
      tags:
        - Workspaces
      description: Return a list of users from a specific campaign
    parameters:
      - $ref: '#/components/parameters/cid'
    post:
      summary: Add user to workspace
      operationId: post-campaign-cid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: number
                  tryber_wp_user_id:
                    type: number
                  email:
                    type: string
                required:
                  - profile_id
                  - tryber_wp_user_id
                  - email
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Use this to add a new or existent user into a specific campaign.
      requestBody:
        $ref: '#/components/requestBodies/Invitation'
      security:
        - JWT: []
    delete:
      summary: Remove user from workspace
      operationId: delete-campaign-cid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                required:
                  - items
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Remove an user from campaign
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: Tryber WP USER ID
              required:
                - user_id
  '/campaigns/{cid}/ux':
    parameters:
      - name: cid
        in: path
        required: true
        schema:
          type: string
        description: Campaign id
    get:
      summary: Get UX data
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: number
                  goal:
                    type: string
                  users:
                    type: number
                  findings:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: this field is the Finding ID
                        title:
                          type: string
                        description:
                          type: string
                        comment:
                          type: string
                        severity:
                          type: object
                          required:
                            - id
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        cluster:
                          oneOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                required:
                                  - id
                                  - name
                            - type: string
                              enum:
                                - all
                        video:
                          type: array
                          items:
                            type: object
                            properties:
                              url:
                                type: string
                              streamUrl:
                                type: string
                              poster:
                                type: string
                              start:
                                type: integer
                              end:
                                type: integer
                              description:
                                type: string
                            required:
                              - url
                              - streamUrl
                              - start
                              - end
                      required:
                        - id
                        - title
                        - description
                        - severity
                        - cluster
                  sentiment:
                    type: array
                    items:
                      type: object
                      properties:
                        cluster:
                          type: object
                          required:
                            - id
                            - name
                          properties:
                            id:
                              type: integer
                            name:
                              type: string
                        value:
                          type: integer
                        comment:
                          type: string
                      required:
                        - cluster
                        - value
                        - comment
                  methodology:
                    type: object
                    required:
                      - type
                      - description
                    properties:
                      type:
                        type: string
                      description:
                        type: string
                  questions:
                    type: array
                    items:
                      type: object
                      properties:
                        text:
                          type: string
                      required:
                        - text
                required:
                  - version
                  - goal
                  - users
                  - methodology
                  - questions
              examples:
                Example 1:
                  value:
                    version: 1
                    goal: string
                    users: 12
                    methodology:
                      type: qualitative
                      description: string
                    questions:
                      - text: string
                    findings:
                      - id: 18
                        title: My finding
                        description: This is a sample finding
                        severity:
                          id: 1
                          name: Minor
                        cluster:
                          - id: 1
                            name: 'UC1: Example'
                        video:
                          - url: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4'
                            streamUrl: 'http://sample.vodobox.net/skate_phantom_flex_4k/skate_phantom_flex_4k.m3u8'
                            start: 10
                            end: 20
                            description: This is a video
                      - id: 19
                        title: My finding
                        description: This is a sample finding
                        severity:
                          id: 1
                          name: Minor
                        cluster: all
                        video:
                          - url: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4'
                            streamUrl: 'http://sample.vodobox.net/skate_phantom_flex_4k/skate_phantom_flex_4k.m3u8'
                            start: 10
                            end: 20
                            description: This is a video
                    sentiment:
                      - cluster:
                          id: 1
                          name: 'UC1: Example'
                        value: 1
                        comment: comment
                      - cluster:
                          id: 2
                          name: 'UC2: Example 2'
                        value: 2
                        comment: comment
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-ux
      description: ''
      security:
        - JWT: []
      parameters:
        - schema:
            type: boolean
          in: query
          name: showAsCustomer
  '/campaigns/{cid}/widgets':
    parameters:
      - $ref: '#/components/parameters/cid'
    get:
      summary: Get Campaign widget data
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WidgetBugsByUseCase'
                  - $ref: '#/components/schemas/WidgetBugsByDevice'
                  - $ref: '#/components/schemas/WidgetCampaignProgress'
                  - $ref: '#/components/schemas/WidgetCampaignUniqueBugs'
                  - $ref: '#/components/schemas/WidgetBugsByDuplicates'
              examples:
                Bugs by UseCase:
                  value:
                    data:
                      - title:
                          full: UC1 asd
                        description: string
                        bugs: 10
                        uniqueBugs: 8
                        usecase_id: 1220
                    kind: bugsByUseCase
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-campaigns-cid-widgets-wslug
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/wslug'
        - schema:
            type: boolean
          in: query
          name: updateTrend
          description: should update bug trend after request resolves?
  /projects:
    post:
      summary: Create a new project
      operationId: post-projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples: {}
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      security:
        - JWT: []
      requestBody:
        $ref: '#/components/requestBodies/Project'
      tags:
        - Projects
  '/projects/{pid}':
    parameters:
      - $ref: '#/components/parameters/pid'
    get:
      summary: Get single project by ID
      tags:
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-projects-projectId
      description: Retrieve projects details from an ID.
      security:
        - JWT: []
    patch:
      summary: Update single project
      operationId: patch-projects-pid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              examples:
                example-1:
                  value:
                    id: 0
                    name: string
                    campaigns_count: 0
                    workspaceId: 0
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '405':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Update fields of a specific project. Currently only the project name is editable.
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  maxLength: 64
              required:
                - display_name
            examples:
              example-1:
                value:
                  display_name: string
  '/projects/{pid}/campaigns':
    parameters:
      - $ref: '#/components/parameters/pid'
    get:
      summary: GET Project campaigns
      tags:
        - Campaign
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignWithOutput'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
              examples: {}
        '400':
          $ref: '#/components/responses/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-project-campaigns
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      security:
        - JWT: []
  '/projects/{pid}/users':
    get:
      summary: Retrieve users of a specific project
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
                required:
                  - items
              examples:
                Example 1:
                  value:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                    start: 0
                    limit: 0
                    size: 1
                    total: 1
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-projects-users
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
      tags:
        - Workspaces
      description: Return a list of users from a specific project
    parameters:
      - $ref: '#/components/parameters/pid'
    post:
      summary: Add user to project
      operationId: post-projects-pid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: number
                  tryber_wp_user_id:
                    type: number
                  email:
                    type: string
                required:
                  - profile_id
                  - tryber_wp_user_id
                  - email
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Use this to add a new or existent user into a specific project.
      requestBody:
        $ref: '#/components/requestBodies/Invitation'
      security:
        - JWT: []
    delete:
      summary: Remove user from project
      operationId: delete-projects-pid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                required:
                  - items
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Remove an user from project
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: Tryber WP USER ID
                include_shared:
                  type: boolean
              required:
                - user_id
  /templates:
    get:
      summary: GET /templates
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - type: object
                      properties:
                        id:
                          type: number
                    - $ref: '#/components/schemas/Template'
              examples:
                example-1:
                  value:
                    - id: 0
                      title: Ricerca con form
                      description: 'Ricerca di soluzioni e prodotti tramite parametri specifici. (es. cerca biglietto, cerca offerta..)'
                      content: <h3>Descrizione della funzionalità</h3><p>Stai per testare la funzionalità “barra di ricerca” il cui scopo è quello di “cercare prodotti”</p>
                      category:
                        id: 12
                        name: Flusso di ricerca e acquisto
                      device_type: webapp
                      locale: en
                      image: 'http://example.com'
                      requiresLogin: false
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-templates
      description: Retrieve all available use case templates
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/filterBy'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
  /users/me:
    get:
      summary: Get user data
      tags:
        - User
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-users-me
      security:
        - JWT: []
  /workspaces:
    get:
      summary: Get User Workspaces
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspaces
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
      security:
        - JWT: []
    post:
      summary: Create a new workspace
      operationId: post-workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  company:
                    type: string
                required:
                  - id
                  - company
              examples:
                Example 1:
                  value:
                    id: 123
                    company: Tesla Inc.
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: This endpoint is useful to add a new workspace. Only admin can use this.
      security:
        - JWT: []
      x-internal: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                pm_id:
                  type: number
              required:
                - company
  '/workspaces/{wid}':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: GET single Workspace
      tags:
        - Workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace
      parameters: []
      security:
        - JWT: []
  '/workspaces/{wid}/campaigns':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: GET Workspace campaigns
      tags:
        - Workspaces
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignWithOutput'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-campaigns
      security:
        - JWT: []
      description: ''
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/filterBy'
  '/workspaces/{wid}/coins':
    get:
      summary: Retrieve available customer coins
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coin'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
              examples:
                single:
                  value:
                    items:
                      - id: 123
                        customer_id: 98
                        amount: 5
                        agreement_id: 14560
                        price: 900
                        created_on: '2022-06-23T12:14:12Z'
                        updated_on: '2022-06-23T14:45:15Z'
                    start: 0
                    limit: 10
                    size: 1
                    total: 1
                multiple:
                  value:
                    items:
                      - id: 123
                        customer_id: 98
                        amount: 5
                        agreement_id: 2002
                        price: 900
                        created_on: '2022-06-23T12:14:12Z'
                        updated_on: '2022-06-23T14:45:15Z'
                      - id: 151
                        customer_id: 98
                        amount: 50
                        price: 15
                        created_on: '2022-06-23T12:14:12Z'
                        updated_on: '2022-06-23T14:45:15Z'
                      - id: 456
                        customer_id: 98
                        amount: 2
                        price: 1
                        created_on: '2022-06-23T12:14:12Z'
                        updated_on: '2022-06-23T14:45:15Z'
                      - id: 678
                        customer_id: 98
                        amount: 200
                        price: 24
                        created_on: '2022-06-23T12:14:12Z'
                        updated_on: '2022-06-23T14:45:15Z'
                    start: 0
                    limit: 4
                    size: 4
                    total: 18
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspaces-coins
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
      tags:
        - Workspaces
    parameters:
      - $ref: '#/components/parameters/wid'
  '/workspaces/{wid}/projects':
    parameters:
      - $ref: '#/components/parameters/wid'
    get:
      summary: GET Workspace Projects
      tags:
        - Workspaces
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-projects
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
  '/workspaces/{wid}/projects/{pid}':
    parameters:
      - $ref: '#/components/parameters/wid'
      - $ref: '#/components/parameters/pid'
    get:
      summary: GET Workspace single project
      tags:
        - Workspaces
        - Projects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-project
      security:
        - JWT: []
  '/workspaces/{wid}/projects/{pid}/campaigns':
    parameters:
      - $ref: '#/components/parameters/wid'
      - $ref: '#/components/parameters/pid'
    get:
      summary: GET Workspace Project campaigns
      tags:
        - Projects
        - Workspaces
        - Campaigns
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignWithOutput'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspace-project-campaigns
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
      security:
        - JWT: []
  '/workspaces/{wid}/users':
    get:
      summary: Retrieve users of a specific workspace
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                  start:
                    type: integer
                  limit:
                    type: integer
                  size:
                    type: integer
                  total:
                    type: integer
                required:
                  - items
              examples:
                Example 1:
                  value:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                    start: 0
                    limit: 0
                    size: 1
                    total: 1
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      operationId: get-workspaces-users
      security:
        - JWT: []
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/orderBy'
      tags:
        - Workspaces
      description: Return a list of users from a specific workspace
    parameters:
      - $ref: '#/components/parameters/wid'
    post:
      summary: Add user to workspace
      operationId: post-workspaces-wid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: number
                  tryber_wp_user_id:
                    type: number
                  email:
                    type: string
                required:
                  - profile_id
                  - tryber_wp_user_id
                  - email
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Use this to add a new or existent user into a specific workspace.
      requestBody:
        $ref: '#/components/requestBodies/Invitation'
      security:
        - JWT: []
    delete:
      summary: Remove user from workspace
      operationId: delete-workspaces-wid-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    items:
                      - id: 1234
                        email: user@example.com
                        name: string
                        profile_id: 999
                        invitationPending: true
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
                required:
                  - items
        '400':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '500':
          $ref: '#/components/responses/Error'
      description: Remove an user from workspace
      security:
        - JWT: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: number
                  description: Tryber WP USER ID
                include_shared:
                  type: boolean
              required:
                - user_id
components:
  schemas:
    Authentication:
      title: Authentication
      type: object
      description: ''
      x-examples:
        example-1:
          value:
            username: string
            name: string
            surname: string
            email: user@example.com
            image: 'http://example.com'
            id: 0
            wp_user_id: 0
            role: string
            is_verified: true
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
        role:
          type: string
        name:
          type: string
        picture:
          type: string
        token:
          type: string
        iat:
          type: number
        exp:
          type: number
      required:
        - id
        - email
        - role
        - name
        - token
    Bug:
      title: Bug
      type: object
      properties:
        id:
          type: integer
        internal_id:
          type: string
        campaign_id:
          type: integer
        title:
          $ref: '#/components/schemas/BugTitle'
        step_by_step:
          type: string
        expected_result:
          type: string
        current_result:
          type: string
        status:
          $ref: '#/components/schemas/BugStatus'
        severity:
          $ref: '#/components/schemas/BugSeverity'
        type:
          $ref: '#/components/schemas/BugType'
        replicability:
          $ref: '#/components/schemas/BugReplicability'
        priority:
          $ref: '#/components/schemas/BugPriority'
        custom_status:
          $ref: '#/components/schemas/BugCustomStatus'
        created:
          type: string
        occurred_date:
          type: string
        updated:
          type: string
        note:
          type: string
        device:
          oneOf:
            - $ref: '#/components/schemas/Smartphone'
            - $ref: '#/components/schemas/Tablet'
            - $ref: '#/components/schemas/Desktop'
        application_section:
          type: object
          properties:
            id:
              type: integer
            prefix_title:
              type: string
            title:
              type: string
            simple_title:
              type: string
        duplicated_of_id:
          type: integer
        is_favorite:
          type: integer
        read:
          type: boolean
      required:
        - id
        - internal_id
        - campaign_id
        - title
        - step_by_step
        - expected_result
        - current_result
        - status
        - severity
        - type
        - replicability
        - priority
        - custom_status
        - created
        - occurred_date
        - device
        - application_section
    BugAdditionalField:
      title: BugAdditionalField
      allOf:
        - type: object
          properties:
            id:
              type: integer
            name:
              type: string
            value:
              type: string
          required:
            - id
            - name
            - value
        - oneOf:
            - $ref: '#/components/schemas/BugAdditionalFieldRegex'
            - $ref: '#/components/schemas/BugAdditionalFieldSelect'
      description: 'Describe any additional info '
    BugAdditionalFieldRegex:
      title: BugAdditionalFieldRegex
      type: object
      properties:
        validation:
          type: string
        kind:
          type: string
          enum:
            - regex
      required:
        - validation
        - kind
    BugAdditionalFieldSelect:
      title: BugAdditionalFieldSelect
      type: object
      properties:
        options:
          type: array
          items:
            type: string
        kind:
          type: string
          enum:
            - select
      required:
        - options
        - kind
    BugCustomStatus:
      title: BugCustomStatus
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        color:
          type: string
        phase_id:
          type: integer
        is_default:
          type: integer
          minimum: 0
          maximum: 1
      required:
        - id
        - name
        - color
        - phase_id
        - is_default
    BugMedia:
      title: BugMedia
      type: object
      properties:
        mime_type:
          type: object
          required:
            - type
            - extension
          properties:
            type:
              type: string
              enum:
                - video
                - image
                - other
            extension:
              type: string
        url:
          type: string
          format: uri
        creation_date:
          type: string
      required:
        - mime_type
        - url
        - creation_date
    BugPriority:
      title: BugPriority
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    BugReplicability:
      title: BugReplicability
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    BugSeverity:
      title: BugSeverity
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    BugStatus:
      title: BugStatus
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    BugTag:
      title: BugTag
      type: object
      properties:
        id:
          type: integer
        tag_id:
          type: integer
        name:
          type: string
        slug:
          type: string
        bug_id:
          type: integer
        campaign_id:
          type: integer
        author_wp_id:
          type: integer
        author_tid:
          type: integer
        creation_date:
          type: string
        is_visible_to_customer:
          type: integer
      required:
        - id
        - tag_id
        - name
        - slug
        - bug_id
        - campaign_id
        - creation_date
    BugTitle:
      title: BugTitle
      type: object
      properties:
        full:
          type: string
        compact:
          type: string
          description: Bug title without context.
        context:
          type: array
          items:
            type: string
      required:
        - full
        - compact
    BugType:
      title: BugType
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      required:
        - id
        - name
    Campaign:
      title: Campaign
      type: object
      properties:
        id:
          type: integer
        start_date:
          type: string
        end_date:
          type: string
        close_date:
          type: string
        title:
          type: string
        customer_title:
          type: string
        is_public:
          type: number
        bug_form:
          type: number
          minimum: -1
          maximum: 1
          description: |-
            -1: no bug form;
            0: only bug form;
            1: bug form with bug parade';
        type:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
            name:
              type: string
        family:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
            name:
              type: string
        status:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
            name:
              type: string
        project:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
            name:
              type: string
        workspace:
          type: object
          required:
            - id
            - name
          properties:
            id:
              type: number
            name:
              type: string
        description:
          type: string
        base_bug_internal_id:
          type: string
      required:
        - id
        - start_date
        - end_date
        - close_date
        - title
        - customer_title
        - is_public
        - type
        - family
        - status
        - project
        - workspace
    CampaignWithOutput:
      title: CampaignWithOutput
      allOf:
        - $ref: '#/components/schemas/Campaign'
        - type: object
          properties:
            outputs:
              type: array
              items:
                $ref: '#/components/schemas/Output'
    Coin:
      title: Coin
      type: object
      description: |-
        A coin package is a set of coins (free or paid). 
        The coin only valid currency in order to run an express campaign (no matter what type of express)
      properties:
        id:
          type: integer
        customer_id:
          type: integer
        amount:
          type: number
          description: Number of available coin
        agreement_id:
          type: integer
        price:
          type: number
          default: 0
          format: float
          description: This is the single coin price
        created_on:
          type: string
        updated_on:
          type: string
          description: 'On each coin use, the related package will be updated'
      required:
        - id
        - customer_id
        - amount
    Desktop:
      title: Desktop
      allOf:
        - properties:
            desktop_type:
              type: string
              enum:
                - Desktop
                - Gaming PC
                - Notebook
                - Tablet PC / Hybrid
                - Ultrabook
            os:
              type: string
            os_version:
              type: string
            type:
              type: string
              enum:
                - desktop
          required:
            - desktop_type
            - os
            - os_version
            - type
      x-examples:
        example-1:
          desktop_type: Gaming PC
          os: Windows
          os_version: Windows 10 May 2021 Update (19043)
          type: desktop
      x-internal: true
      type: object
    Error:
      title: Error
      type: object
      properties:
        message:
          type: string
        code:
          type: number
        error:
          type: boolean
      required:
        - message
        - code
        - error
    Feature:
      title: Feature
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
      description: Flags used to enable functionality to some users
    GenericDevice:
      title: Generic Device
      type: object
      properties:
        os:
          type: string
        os_version:
          type: string
        type:
          type: string
      x-internal: true
    Output:
      type: string
      title: Output
      enum:
        - bugs
        - media
        - insights
      description: campaign output item
    Platform:
      title: Platform Object
      type: object
      properties:
        id:
          type: integer
          description: os
        deviceType:
          type: integer
          description: |-
            form_factor

            0 => smartphone, 
            1 => tablet 
            2 => pc 
            3 => smartwatch 
            4 => console
            5 => tv
      required:
        - id
        - deviceType
    Project:
      title: Project
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        campaigns_count:
          type: integer
        workspaceId:
          type: number
      required:
        - id
        - name
        - campaigns_count
        - workspaceId
    Report:
      title: Report
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        url:
          type: string
        file_type:
          type: object
          properties:
            extension:
              $ref: '#/components/schemas/ReportExtensions'
            type:
              type: string
            domain_name:
              type: string
          required:
            - type
        creation_date:
          type: string
        update_date:
          type: string
      required:
        - url
    ReportExtensions:
      title: ReportExtensions
      type: string
      enum:
        - pdf
        - doc
        - docx
        - xls
        - xlsx
        - ppt
        - pptx
        - rar
        - txt
        - csv
        - zip
        - gzip
        - gz
        - 7z
    Smartphone:
      title: Smartphone
      allOf:
        - properties:
            manufacturer:
              type: string
            model:
              type: string
            os:
              type: string
            os_version:
              type: string
            type:
              type: string
              enum:
                - smartphone
          required:
            - manufacturer
            - model
            - os
            - os_version
            - type
      x-examples:
        example-1:
          manufacturer: Samsung
          model: Galaxy S22 Ultra
          os: Android
          os_version: '13'
          type: smartphone
      x-internal: true
      type: object
    Tablet:
      title: Tablet
      allOf:
        - properties:
            manufacturer:
              type: string
            model:
              type: string
            os:
              type: string
            os_version:
              type: string
            type:
              type: string
              enum:
                - tablet
          required:
            - manufacturer
            - model
            - os
            - os_version
            - type
      x-examples:
        example-1:
          manufacturer: Samsung
          model: Galaxy Tab
          os: Android
          os_version: '12'
          type: tablet
      x-internal: true
      type: object
    Template:
      title: Template
      type: object
      description: Template of a usecase object
      x-tags:
        - templates
      x-examples: {}
      properties:
        title:
          type: string
        description:
          type: string
          description: Short description used as preview of template or in templates dropdown
        content:
          type: string
          description: HTML content used to pre-fill the use case editor
        category:
          $ref: '#/components/schemas/TemplateCategory'
        device_type:
          type: string
          enum:
            - webapp
            - mobileapp
        locale:
          type: string
          enum:
            - en
            - it
          default: en
        image:
          type: string
          format: uri
        requiresLogin:
          type: boolean
          default: false
          description: The use case created by this template needs a login or not?
      required:
        - title
    TemplateCategory:
      title: TemplateCategory
      type: object
      description: Group different templates
      x-examples: {}
      properties:
        id:
          type: number
        name:
          type: string
      required:
        - name
    UseCase:
      title: UseCase
      type: object
      x-examples: {}
      properties:
        title:
          type: string
        description:
          type: string
        functionality:
          description: Optional in experiential campaigns
          allOf:
            - type: object
              properties:
                id:
                  type: number
            - $ref: '#/components/schemas/Template'
        logged:
          type: boolean
        link:
          type: string
      required:
        - title
        - description
      description: ''
    User:
      title: User
      type: object
      x-examples:
        example-1:
          value:
            id: 0
            email: user@example.com
            role: string
            name: string
            workspaces:
              id: 0
              company: string
              tokens: 0
              logo: string
              csm: {}
            profile_id: 0
            tryber_wp_user_id: 0
            picture: string
            features:
              feature_slug: exploratory-express
              feature_name: Exploratory Express
      properties:
        id:
          type: integer
          description: This is the main id of the user. Currently is equal to tryber_wp_user_id
        email:
          type: string
          format: email
        role:
          type: string
        name:
          type: string
        profile_id:
          type: integer
        tryber_wp_user_id:
          type: integer
        unguess_wp_user_id:
          type: integer
        picture:
          type: string
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
      required:
        - id
        - email
        - role
        - name
        - profile_id
        - tryber_wp_user_id
        - unguess_wp_user_id
    WidgetBugsByDevice:
      title: WidgetBugsByDevice
      type: object
      x-examples:
        Example 1:
          data:
            - manufacturer: Samsung
              model: Galaxy S22 Ultra
              os: Android
              os_version: '13'
              type: smartphone
              bugs: 12
            - desktop_type: Gaming PC
              os: Windows
              os_version: Windows 10 May 2021 Update (19043)
              type: desktop
              bugs: 4
          kind: bugsByDevice
      description: Returns a list of devices with the number of bugs
      properties:
        data:
          type: array
          items:
            allOf:
              - oneOf:
                  - $ref: '#/components/schemas/Smartphone'
                  - $ref: '#/components/schemas/Desktop'
                  - $ref: '#/components/schemas/Tablet'
              - type: object
                properties:
                  unique_bugs:
                    type: integer
                  bugs:
                    type: integer
                    description: Unique bugs
                required:
                  - unique_bugs
                  - bugs
        kind:
          type: string
          enum:
            - bugsByDevice
          example: bugsByDevice
          default: bugsByDevice
      required:
        - data
        - kind
    WidgetBugsByDuplicates:
      title: WidgetBugsByDuplicates
      type: object
      x-examples:
        Example 1:
          data:
            - id: 31562
              internal_id: string
              campaign_id: 0
              title:
                full: string
                compact: string
                context:
                  - string
              step_by_step: string
              expected_result: string
              current_result: string
              status:
                id: 0
                name: string
              severity:
                id: 0
                name: string
              type:
                id: 0
                name: string
              replicability:
                id: 0
                name: string
              created: string
              updated: string
              note: string
              device:
                manufacturer: string
                model: string
                os: string
                os_version: string
                type: smartphone
              application_section:
                id: 0
                title: string
              duplicated_of_id: 0
              is_favorite: 0
              duplicates: 4
            - id: 1450
              internal_id: string
              campaign_id: 0
              title:
                full: string
                compact: string
                context:
                  - string
              step_by_step: string
              expected_result: string
              current_result: string
              status:
                id: 0
                name: string
              severity:
                id: 0
                name: string
              type:
                id: 0
                name: string
              replicability:
                id: 0
                name: string
              created: string
              updated: string
              note: string
              device:
                manufacturer: string
                model: string
                os: string
                os_version: string
                type: smartphone
              application_section:
                id: 0
                title: string
              duplicated_of_id: 0
              is_favorite: 0
              duplicates: 2
          kind: bugsByDuplicates
      description: Returns the most 10 reported bugs ordered by numberd of duplicates
      properties:
        data:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Bug'
              - type: object
                properties:
                  duplicates:
                    type: integer
                required:
                  - duplicates
        kind:
          type: string
          enum:
            - bugsByDuplicates
      required:
        - data
        - kind
    WidgetBugsByUseCase:
      title: WidgetBugsByUseCase
      type: object
      x-examples:
        Example 1:
          data:
            - title:
                full: Navigazione Sito
              description: aasdasdsa
              uniqueBugs: 10
              bugs: 12
            - title:
                full: Homepage
              description: aasdasdsa
              uniqueBugs: 1
              bugs: 3
            - title:
                full: Product List
              description: lorem ipsum
              uniqueBugs: 0
              bugs: 0
          kind: bugsByUseCase
      description: Returns a list of use case with the number of bugs
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              title:
                type: object
                required:
                  - full
                properties:
                  full:
                    type: string
                  simple:
                    type: string
                  prefix:
                    type: string
                  info:
                    type: string
              description:
                type: string
              uniqueBugs:
                type: number
              bugs:
                type: number
              usecase_completion:
                type: number
              usecase_id:
                type: number
            required:
              - title
              - description
              - bugs
              - usecase_id
        kind:
          type: string
          enum:
            - bugsByUseCase
          default: bugsByUseCase
          example: bugsByUseCase
      required:
        - data
        - kind
    WidgetCampaignProgress:
      title: WidgetCampaignProgress
      type: object
      description: Used to show an overview about a specific campaign.
      x-examples:
        Example 1:
          data:
            start_date: string
            end_date: string
            usecase_completion: 12.5
            time_elapsed: 0
            expected_duration: 0
          kind: campaignProgress
      properties:
        data:
          type: object
          required:
            - start_date
            - end_date
            - usecase_completion
            - time_elapsed
            - expected_duration
          properties:
            start_date:
              type: string
            end_date:
              type: string
            usecase_completion:
              type: number
              minimum: 0
              maximum: 100
              format: float
              enum:
                - 12.5
                - 37.5
                - 62.5
                - 87.5
                - 100
              description: Percentage fixed rate of completion
            time_elapsed:
              type: integer
              description: Number of hours from start_date
            expected_duration:
              type: integer
              description: Expected amount of hours required to complete the campaign
        kind:
          type: string
          enum:
            - campaignProgress
          default: campaignProgress
          example: campaignProgress
      required:
        - data
        - kind
    WidgetCampaignUniqueBugs:
      title: WidgetCampaignUniqueBugs
      type: object
      description: Used to show an overview of unique bugs and its trent
      x-examples:
        example-1:
          data:
            unique: 10
            total: 15
            trend: -2
          kind: campaignUniqueBugs
      properties:
        data:
          type: object
          required:
            - unique
            - total
            - trend
          properties:
            unique:
              type: number
            total:
              type: number
            trend:
              type: number
        kind:
          type: string
          default: campaignUniqueBugs
          example: campaignUniqueBugs
          enum:
            - campaignUniqueBugs
      required:
        - data
        - kind
    Workspace:
      title: Workspace
      type: object
      x-examples:
        Single Workspace:
          id: 0
          company: Scrofalo & Co.
          tokens: 0
          logo: string
          csm:
            email: user@example.com
            role: string
            name: Teomondo Scrofalo
            workspaces: []
            picture: 'https://pbs.twimg.com/media/Ccp6RXFWIAAQQ2V.jpg'
      description: A workspace is the company area with projects and campaigns
      properties:
        id:
          type: integer
        company:
          type: string
        tokens:
          type: number
        logo:
          type: string
        csm:
          type: object
          required:
            - id
            - email
            - name
            - profile_id
            - tryber_wp_user_id
          properties:
            id:
              type: integer
            email:
              type: string
            name:
              type: string
            profile_id:
              type: integer
            tryber_wp_user_id:
              type: integer
            picture:
              type: string
            url:
              type: string
        coins:
          type: number
          description: express coins
        isShared:
          type: boolean
          description: Do this workspace have shared items?
        sharedItems:
          type: number
          description: Number of shared items
      required:
        - id
        - company
        - tokens
        - csm
      x-tags:
        - workspace
    Tenant:
      title: Tenant
      type: object
      properties:
        id:
          type: number
          description: tryber wp_user_id
        profile_id:
          type: number
        name:
          type: string
        email:
          type: string
        invitationPending:
          type: boolean
        permissionFrom:
          type: object
          properties:
            type:
              type: string
              enum:
                - workspace
                - project
            id:
              type: integer
      required:
        - id
        - profile_id
        - name
        - email
        - invitationPending
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      description: ''
  responses:
    Error:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    wid:
      name: wid
      in: path
      required: true
      schema:
        type: string
      description: 'Workspace (company, customer) id'
    pid:
      name: pid
      in: path
      required: true
      schema:
        type: string
      description: Project id
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: number
      description: Limit pagination parameter
    start:
      name: start
      in: query
      required: false
      schema:
        type: number
      description: Start pagination parameter
    order:
      name: order
      in: query
      required: false
      schema:
        type: string
      description: 'Order value (ASC, DESC)'
    orderBy:
      name: orderBy
[...]
